<h1 class="m-3">QR Portfolio</h1>

<div class="row">
  <div class="col m-5">
    <!-- Create QR Form -->
  
    <form class="form-signin" method="POST" action="/create">
      <h1 class="h3 mb-3 font-weight-normal">Create New QR Card</h1>
      <div class="form-group">
        <label for="cardName">Card Name</label>
        <input type="text" name="cardName" class="form-control" id="cardName">
      </div>
      <div class="form-group">
        <label for="cardContent">Card Information</label>
        <textarea class="form-control" name="cardContent" id="cardContent" rows="3"></textarea>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
  </div>

  <div class="col m-5">
    <!-- Generated Results-->
    <h1 class="h3 mb-3 font-weight-normal">Live Preview of QR Card</h1>
    <img id="qrImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmmUAO9kR7dbcHmMUXqDSk7Bzo0VDIG223CiYWsWcPj4akKzoGqA" class="img-thumbnail">
  </div>
</div>

<script src="js/create.js"></script>
