<h1 class="m-3">QR Portfolio</h1>

<div class="row">
  <div class="col m-5">
    <!--Sign In Form-->
    <form class="form-signin" method="POST" action="/signin">
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      {{#if signInErr}}
      <p class="text-danger"> {{signInErr}} </p>
      {{/if}}
      <input type="text" class="form-control mb-2" name="username" placeholder="Username" maxlength="255" required>
      <input type="password" class="form-control mb-2" name="password" placeholder="Password" maxlength="255" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </form>
  </div>

  <div class="col m-5">
    <!-- Sign Up Form -->
    <form class="form-signin" method="POST" action="/signup">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
      {{#if signUpErr}}
      <p class="text-danger"> {{signUpErr}} </p>
      {{/if}}
      <input type="text" class="form-control mb-2" name="username" placeholder="Username" maxlength="255" required>
      <input type="password" class="form-control mb-2" name="password" placeholder="Password" maxlength="255" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
  </div>
</div>