<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome, <span id="username"></span>!</h1>
    <p class="lead text-muted">Create a new QR code or upload an existing one for your online QR portfolio.</p>
    <p>
      <a href="/create" class="btn btn-primary my-2">Create Card</a>
      <a href="/upload" class="btn btn-secondary my-2">Upload Card</a>
    </p>
  </div>
</section>

<div class="album py-3">

  <div class="container">

    <div class="mb-5">
      <form class="form-inline my-2 my-lg-0 justify-content-center">
        <input id="searchBar" name="cardName" class="form-control mr-sm-2" type="search" placeholder="Type to search..." aria-label="Search">
        <button id="clearSearch" class="btn btn-outline-success my-2 my-sm-0">Clear</button>
      </form>
    </div>

    <div id="cards" class="row"></div>
  </div>
</div>

<script src="js/search.js"></script>
