<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome, {{user.username}}!</h1>
    <p class="lead text-muted">Create a new QR code or upload an existing one for your online QR portfolio.</p>
    <p>
      <a href="/create" class="btn btn-primary my-2">Create Card</a>
      <a href="/upload" class="btn btn-secondary my-2">Upload Card</a>
    </p>
  </div>
</section>

<div class="album py-3">

  <div class="container">

    <div class="mb-5">
      <form class="form-inline my-2 my-lg-0 justify-content-center">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Card Name..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="row">
      {{#each user.cards}}
      <div class="col-md-3">
        <div class="card mb-3 shadow-sm">
          <img src="{{qrCode}}" class="img-thumbnail">
          <div class="card-body">
            <h3>{{cardName}}</h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary btn-card">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary btn-card">Rename</button>
                <button type="button" class="btn btn-sm btn-outline-secondary btn-card">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>