<h1 class="m-3">QR Portfolio</h1>

<div class="row">
  <!-- Create QR Form -->
  <form class="form-signin" method="POST" action="/">
    <h1 class="h3 mb-3 font-weight-normal">Upload QR Card</h1>
    <div class="form-group">
      <label for="cardName">Card Name</label>
      <input type="text" class="form-control" id="cardName">
    </div>
    <div class="form-group mb-3">
      <input type="file" class="form-control-file" id="qrImage">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
  </form>
</div>